In [1]:
import pickle
import pandas as pd
import numpy as np

In [9]:
def get_embedded_quraan():
    with open('Data/x.pickle', 'rb') as f:
        embedded_quraan = pickle.load(f)
    return embedded_quraan

In [10]:
q = get_embedded_quraan()

In [12]:
q

,level_0,index,Unnamed: 0,Verse,Sura,Aya,Embeddings,similarities
3272,3272,3272,3272,Whoever brings a virtue will receive better th...,27,89,"[0.0016828019870445132, -0.008959492668509483,...",0.843440
5972,5972,5972,5972,As for him who is given his book in his right ...,84,7,"[-0.01330573670566082, -0.01652698591351509, 0...",0.840603
3361,3361,3361,3361,Whoever brings a virtue will receive better th...,28,84,"[-0.007049383595585823, -0.017775580286979675,...",0.839636
766,766,766,766,O you who believe! God will test you with some...,5,94,"[-0.02100086398422718, -0.018557079136371613, ...",0.839252
4157,4157,4157,4157,To Him belong the reins of the heavens and the...,39,63,"[-0.004564488306641579, -0.027008958160877228,...",0.837791
...,...,...,...,...,...,...,...,...
3824,3824,3824,3824,And the drivers driving.,37,2,"[0.015107795596122742, -0.005217033438384533, ...",0.715029
3823,3823,3823,3823,By the aligners aligning.,37,1,"[-0.0024840300902724266, -0.01056515984237194,...",0.711025
5493,5493,5493,5493,But my call added only to their flight.,71,6,"[-0.015932787209749222, -0.03273414447903633, ...",0.703965
5051,5051,5051,5051,"Causing them neither headache, nor intoxication.",56,19,"[-0.012367566116154194, -0.0030015232041478157...",0.703908
5457,5457,5457,5457,By no means! It is a Raging Fire.,70,15,"[-0.02332756295800209, -0.007538617122918367, ...",0.703668

In [13]:
def get_embedded_bible():
    with open('Data/embedded_bible.pickle', 'rb') as f:
        embedded_bible = pickle.load(f)
    return embedded_bible

In [15]:
b = get_embedded_bible()

b["Embeddings"]

0       [0.009820213541388512, -0.003338872455060482, ...
1       [-0.010279255919158459, -0.020801808685064316,...
2       [-0.008396243676543236, -0.027051126584410667,...
3       [-0.00023184508609119803, -0.03138377889990806...
4       [-0.005143359303474426, -0.018894745036959648,...
                              ...
8016    [-0.0236080139875412, -0.025152942165732384, -...
8017    [-0.012474363669753075, -0.03830690309405327, ...
8018    [-0.01618151180446148, -0.02689913660287857, -...
8019    [0.0014062980189919472, -0.051537349820137024,...
8020    [0.005288987420499325, -0.006964190863072872, ...
Name: Embeddings, Length: 8021, dtype: object

In [2]:
with open('Data/embedded_bible.pickle', 'rb') as f:
    embedded_bible = pickle.load(f)

In [3]:
embedded_bible = embedded_bible.dropna(subset=['Embeddings'])
embedded_bible

,Verses,Embeddings
0,The Gospel According to Saint Matthew,"[0.009820213541388512, -0.003338872455060482, ..."
1,1:1 The book of the generation of Jesus Christ...,"[-0.010279255919158459, -0.020801808685064316,..."
2,1:2 Abraham begat Isaac; and Isaac begat Jacob...,"[-0.008396243676543236, -0.027051126584410667,..."
3,1:3 And Judas begat Phares and Zara of Thamar;...,"[-0.00023184508609119803, -0.03138377889990806..."
4,1:4 And Aram begat Aminadab; and Aminadab bega...,"[-0.005143359303474426, -0.018894745036959648,..."
...,...,...
8016,22:18 For I testify unto every man that hearet...,"[-0.0236080139875412, -0.025152942165732384, -..."
8017,22:19 And if any man shall take away from the ...,"[-0.012474363669753075, -0.03830690309405327, ..."
8018,"22:20 He which testifieth these things saith, ...","[-0.01618151180446148, -0.02689913660287857, -..."
8019,"Even so, come, Lord Jesus.","[0.0014062980189919472, -0.051537349820137024,..."
8020,22:21 The grace of our Lord Jesus Christ be wi...,"[0.005288987420499325, -0.006964190863072872, ..."

In [4]:
embedded_bible['Verses']

0                   The Gospel According to Saint Matthew
1       1:1 The book of the generation of Jesus Christ...
2       1:2 Abraham begat Isaac; and Isaac begat Jacob...
3       1:3 And Judas begat Phares and Zara of Thamar;...
4       1:4 And Aram begat Aminadab; and Aminadab bega...
                              ...
8016    22:18 For I testify unto every man that hearet...
8017    22:19 And if any man shall take away from the ...
8018    22:20 He which testifieth these things saith, ...
8019                           Even so, come, Lord Jesus.
8020    22:21 The grace of our Lord Jesus Christ be wi...
Name: Verses, Length: 8021, dtype: object

In [5]:
import re

# Removing verse numbers from verse
embedded_bible['Verses'] = embedded_bible['Verses'].apply(lambda x: re.sub(r'^\d+:\d+\s+', '', x))

In [11]:
sum(embedded_bible['Verses'] == 'Even so, come, Lord Jesus.')

1

In [13]:
sum(embedded_bible['Verses'] == "For I know the plans I have for you,” declares the lord, “plans to prosper you and not to harm you, plans to give you hope and a future.")

0

In [15]:
embedded_bible['Verses']

0                   The Gospel According to Saint Matthew
1       The book of the generation of Jesus Christ, th...
2       Abraham begat Isaac; and Isaac begat Jacob; an...
3       And Judas begat Phares and Zara of Thamar; and...
4       And Aram begat Aminadab; and Aminadab begat Na...
                              ...
8016    For I testify unto every man that heareth the ...
8017    And if any man shall take away from the words ...
8018    He which testifieth these things saith, Surely...
8019                           Even so, come, Lord Jesus.
8020    The grace of our Lord Jesus Christ be with you...
Name: Verses, Length: 8021, dtype: object

In [16]:
embedded_bible[embedded_bible['Verses'].str.startswith('For I know')]

,Verses,Embeddings
4539,"For I know this, that after my departing shall...","[0.004136033821851015, -0.018164372071623802, ..."
4996,"For I know that in me (that is, in my flesh,) ...","[-0.02058098092675209, -0.005681537091732025, ..."
5325,For I know nothing by myself; yet am I not her...,"[-0.008331033401191235, -0.007302276790142059,..."
5847,"For I know the forwardness of your mind, for w...","[-0.005972539074718952, -0.01913531869649887, ..."
6274,For I know that this shall turn to my salvatio...,"[-0.011648964136838913, -0.017699792981147766,..."

In [23]:
updated_bible = pd.read_csv('/Users/anthonymoubarak/Desktop/total_verses.csv')


updated_bible

       Unnamed: 0                                             Verses
0               0           The First Book of Moses:  Called Genesis
1               1  1:1 In the beginning God created the heaven an...
2               2  1:2 And the earth was without form, and void; ...
3               3  1:3 And God said, Let there be light: and ther...
4               4  1:4 And God saw the light, that it was good: a...
...           ...                                                ...
31300       31300  22:18 For I testify unto every man that hearet...
31301       31301  22:19 And if any man shall take away from the ...
31302       31302  22:20 He which testifieth these things saith, ...
31303       31303                         Even so, come, Lord Jesus.
31304       31304  22:21 The grace of our Lord Jesus Christ be wi...

[31305 rows x 2 columns]

In [27]:

# Removing verse numbers from verse
updated_bible['Verses'] = updated_bible['Verses'].apply(lambda x: re.sub(r'^\d+:\d+\s+', '', x))

updated_bible[updated_bible['Verses'].str.startswith('For I know')]

       Unnamed: 0                                             Verses
444           444  For I know him, that he will command his child...
5772         5772  For I know thy rebellion, and thy stiff neck: ...
5774         5774  For I know that after my death ye will utterly...
13410       13410  For I know that my redeemer liveth, and that h...
13668       13668  For I know that thou wilt bring me to death, a...
13739       13739  For I know not to give flattering titles; in s...
16279       16279  For I know that the LORD is great, and that ou...
19054       19054  For I know their works and their thoughts: it ...
19762       19762  For I know the thoughts that I think toward yo...
22562       22562  For I know your manifold transgressions and yo...
27823       27823  For I know this, that after my departing shall...
28280       28280  For I know that in me (that is, in my flesh,) ...
28609       28609  For I know nothing by myself; yet am I not her...
29131       29131  For I know the forwardness of your mind, for w...
29558       29558  For I know that this shall turn to my salvatio...

In [33]:
updated_bible[updated_bible['Verses'].str.contains('sword')]

       Unnamed: 0                                             Verses
80             80  So he drove out the man; and he placed at the ...
768           768  And by thy sword shalt thou live, and shalt se...
900           900  And Laban said to Jacob, What hast thou done, ...
1007         1007  And it came to pass on the third day, when the...
1008         1008  And they slew Hamor and Shechem his son with t...
...           ...                                                ...
31001       31001  And I looked, and behold a pale horse: and his...
31118       31118  He that leadeth into captivity shall go into c...
31122       31122  And deceiveth them that dwell on the earth by ...
31232       31232  And out of his mouth goeth a sharp sword, that...
31238       31238  And the remnant were slain with the sword of h...

[404 rows x 2 columns]